body{
    margin:20px;
    background-color: #fff;
    /*background-image: url("https://www.seekpng.com/png/detail/175-1754129_donor-png-hd-blood-donation-logo-png.png");
    background-repeat: no-repeat;*/
}